<h2>My Items</h2>
<ul class="items">
    <li *ngFor="let item of items">
        <button [class.selected]="item === selectedItem" type="button" (click)="onSelect(item)">
            <span class="badge">{{item.id}}</span>
            <span class="name">{{item.name}}</span>
        </button>
    </li>
</ul>

<div *ngIf="selectedItem">
<h2>{{selectedItem.name | uppercase}} Details</h2>
<div>id: {{selectedItem.id}}</div>
<div>price: {{selectedItem.price}}</div>
<div>
    <label for="item-name">Item name: </label>
    <input id="item-name" [(ngModel)]="selectedItem.name" placeholder="name">

    <label for="item-price">Item price</label>
    <input price="item-price" [(ngModel)]="selectedItem.price" placeholder="price">
</div>
</div>