<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>money: </span>{{hero.money}}</div>
  

  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
  </div>
  <button type="button" (click)="goBack()">go back</button>

  
      <a routerLink="/free-items/{{hero.id}}">
        <span class="badge"></span> {{"buy item"}}
      </a>

  
  <div *ngFor="let item of hero.items">
    <app-items-detail (deleteEvent)="sellItem(item)" [items]="item"></app-items-detail>
  </div>
  
</div>